<mat-toolbar color="primary">
    <mat-toolbar>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        
        </button>
        <span>My App</span>
        <span class="example-spacer"></span>
        
        <a routerLink="connexion"><button mat-raised-button>CONNEXION</button></a>
        <a routerLink="inscription"><button mat-raised-button>INSCRIPTION</button></a>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>
        
        <button mat-raised-button>DECONNEXION</button>
      </mat-toolbar> 
    
